#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

#label {
  z-index:99999;
  position: absolute;
  top: 0;
  left: 20px;
  height: 100px;
  max-width: 650px;
  margin: 5px 15px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

#label span {
  color: #ccc;
}

ul.share-buttons {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: sub;
  margin-left: 8px;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons img {
  width: 20px;
  height: auto;
}
