body {
  background-color: #000;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #ccc;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#summary {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  color: white;
  background-color: rgba(238, 238, 238, 0.14);
  padding-left: 20px;
}

#summary.iframe-mode {
  padding: 10px;
  padding-top: 0;
}

#summary .description {
  color: #ccc;
}

#summary .toggle-summary {
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
}

#summary.minimized .shower-details-container {
  display: none;
}

#summary.minimized .hide-summary {
  display: none;
}

#summary.minimized {
  padding-bottom: 10px;
}

#summary.maximized .show-summary {
  display: none;
}

#ianww {
  position: absolute;
  right: 2px;
  bottom: 0;
  font-size: 16px;
  background: #000a;
}

.share-buttons {
  margin-left: 8px;
  vertical-align: sub;
}

.share-buttons img {
  width: 20px;
  height: auto;
  vertical-align: bottom;
}

.shower-details-container {
  margin-top: 14px;
  font-size: 12px;
}
.shower-details-container select {
  color: #fff;
  background-color: #1b1b1b;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  line-height: 2.5;
}

.button:hover {
  background-color: #303030;
}

.button {
  background-color: #1b1b1b;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  line-height: 2.5;
}

#left-nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #000;
  border-right: 1px solid #404040;
  z-index: 999998;
  overflow: auto;
}

.left-nav-image {
  width: 180px;
  height: auto;
  margin-left: 5px;
}

#btn-left-nav-toggle {
  position: absolute;
  top: 0;
  /* Keep synced in asterank3d.js */
  left: 162px;
  width: 30px;
  height: 20px;

  background-color: #404040;
  color: #eee;
  text-align: center;
  padding-top: 4px;

  cursor: pointer;
  z-index: 999999;
}

#btn-left-nav-toggle:hover {
  background-color: #505050;
}

#sky-map {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 150px;
  height: 150px;

  border-right: 1px solid #333;
  border-top: 1px solid #333;

  cursor: pointer;
}

#sky-map img {
  width: 100%;
  height: 100%;
}

#sky-map span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ccc;
  font-size: 10px;

  background-color: #000;
  padding: 2px;

  display: none;
}

#sky-map:hover span {
  display: block;
}

#instructions {
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  right: 15px;
  color: #eee;
}

#copyright {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #eee;
}

#global-tooltip {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 300px;

  color: white;
  font-size: 24px;
  font-weight: bold;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#global-tooltip span {
  font-size: 16px;
  margin-top: -10px;
 -webkit-text-stroke-width: 0.5px;
 color: #eee;
}

#global-tooltip img {
  width: 100%;
  height: auto;
}

.faq-modal {
  color: #ccc;
}

.faq-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  margin-top: 12px;
}

.faq-modal h2 {
  color: #eee;
}

.faq-modal .close-modal {
  top: 10px !important;
  right: 15px !important;
}

#loading-container {
	color: #fff;
	width: 100%;
	text-align: center;
	z-index: 99999;
	position: absolute;
	top: 200px;
	left: 0;
	font-size: 20px;
}

@media screen and (max-width: 960px) {
  #left-nav, #btn-left-nav-toggle, #learn-more, #sky-map, #instructions {
    display: none;
  }

  #summary {
    padding-right: 20px;
    font-size: 12px;
  }

  h2 {
    font-size: 14px;
  }

  .modal {
    max-height: 90%;
    max-width: 90%;
  }

  #faq-modal {
    font-size: 12px;
  }
}
